<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Elixir Match</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Aclonica|Roboto">
  </head>
  <body>
    <main role="main" class="container">
      <%= if get_flash(@conn, :error) do %>
        <div class="phoenix-header">
          <header class="header alert alert-danger">
            <%= get_flash(@conn, :error) %>
          </header>
        </div>
      <% end %>
      <%= if get_flash(@conn, :info) do %>
        <div class="phoenix-header">
          <header class="header alert alert-success">
            <%= get_flash(@conn, :info) %>
          </header>
        </div>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </main>
  </body>
</html>
